// Colors

$primary-color: #fff;
$bg-color: #070724;
$mercury: #419ebb;
$venus: #eda249;
$earth: #6d2ed5;
$mars: #d14c32;
$jupiter: #d83a34;
$saturn: #cd5120;
$uranus: #1ec1a2;
$neptune: #2d68f0;
$tab-hover: #38384f;


//font family
$main-font: 'League Spartan', sans-serif;
$secondary-font: 'Antonio', sans-serif;

//font size
$font-xs: 0.75rem;
$font-sm: 0.875rem;
$font-nm: 1rem;
$font-lg: 1.125rem;
$font-xlg: 1.25rem;
$font-xxlg: 1.5rem;
