@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    font-size: $font-nm;

}

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-c {
        justify-content: center;
    }
    &-ai-c {
        align-items: center;
    }
    &-col{
        flex-direction: column;
    }
}

.hide-for-mobile {

    @include breakpoint-down(small){
        display: none;
    }
}

.hide-for-desktop {

    @include breakpoint-up(medium){
        display: none;
    }
}

.active {
    opacity: 1;
}