.mobile-view {
    width: 100%;
    margin-bottom: 4rem;
    .mobile-sections {
        padding-inline: 1.25rem;
        margin: 2rem 0 1rem;

        .mob-sec{
            position: relative;
            font-size: 0.5625rem;
            text-transform: uppercase;
            text-align: center;
            color: $white;
            opacity: .65;
            letter-spacing: 0.120535625rem;
            font-family: $main-font;
            font-weight: bold;

        }
    }

    .line {
        width: 100%;
        position: relative;
        height: 1px;
        background-color: rgba(255,255,255,.45);


        &::after{
            content: "";
            display: block;
            position: absolute;
            height: 0.1875rem;
            width: 33.33%;
            margin: 0 auto;
            left: 0;
            right: 0;
            bottom: 1px;
            opacity: 1;
            background-color: red;
        }
    }

    .main-details {
        margin: 4rem auto;
        .image {
            width: 45%;

            img {
                width: 100%;
                max-width: 100%;
            }
        }

        .images {
            position: relative;
            margin-bottom: 2rem;

            .small {
                width: 50%;
                position: absolute;
                left: 28%;
                top: 80%;
            }
        }
    }

    .texts {
        text-align: center;
        padding-inline: 1.25rem;
    }

    .boxes{
        padding: 0 1.25rem;
        margin-bottom: 4rem;
        gap: .5rem;

        .box{
            padding: 1rem 2rem;
            border: 1px solid #ffffff50;

        }
    }
}

.desktop-view{
    margin-top: 4.5rem;
    padding-inline: 2rem;
    width: 100%;
    .desktop-main{

        margin-bottom: 5.5rem;
        .desktop-images {
            width: 65%;
            .image {
                width: 60%;
                img {
                    max-width: 100%;
                    width: 100%;
                }
            }

            .images {
                position: relative;
                margin-bottom: 2rem;
    
                .small {
                    width: 30%;
                    position: absolute;
                    left: 36%;
                    top: 70%;
                }
            }
        }

        .desktop-texts{
            @include breakpoint-down(medium){
                margin-top: 3rem;
            }
            .desktop-text-el,.desktop-tabs{
                @include breakpoint-down(medium){
                    width: 45%;
                }
            }
            .desktop-tabs {
                gap: .75rem;
                .tab-1 {
                    gap: 0.75rem;
                    padding: 1rem 2rem;
                    width: 100%;
                    border: 1px solid #ffffff50;
                    text-transform: uppercase;
                    font-size: 0.75rem;
                    font-weight: bold;
                    cursor: pointer;

                    @include breakpoint-up(large){
                        width: 90%;
                    }

                    span {
                        color: #ffffff50;
                    }

                    &:hover{
                        background-color: #38384f;
                    }
                }
            }
        }
    }


    .parent {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 1.25rem;
        grid-row-gap: 0px;
        margin-bottom: 3rem;
        }
        
        .div1 { 
            grid-area: 1 / 1 / 2 / 2; 
        }
        .div2 { 
            grid-area: 1 / 2 / 2 / 3; 
        }
        .div3 { 
            grid-area: 1 / 3 / 2 / 4; 
        }
        .div4 { 
            grid-area: 1 / 4 / 2 / 5; 
        }

        .border {
            border: 1px solid #ffffff50;
            padding: 1.5rem; 
            gap: 1rem; 
        }

}