@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=Spartan:wght@400;700&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 1rem;
  font-family: "Spartan", sans-serif;
  color: #fff;
  background: #070724;
  background-image: url("../.././images/background-stars.svg");
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
@media (min-width: 64em) {
  .flex-jc-sb-a {
    justify-content: space-between;
  }
}
@media (max-width: 63.9375em) {
  .flex-jc-sb-a {
    justify-content: space-evenly;
  }
}
@media (max-width: 39.9375em) {
  .flex-jc-sb-a {
    justify-content: space-between;
  }
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}
.flex-col {
  flex-direction: column;
}
@media (max-width: 63.9375em) {
  .flex-med-col {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 64em) {
  .flex-des-col {
    flex-direction: column;
  }
}
@media (max-width: 63.9375em) {
  .flex-des-col {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 64em) {
  .width {
    width: 30%;
  }
}
@media (max-width: 63.9375em) {
  .width {
    width: 100%;
  }
}

@media (max-width: 39.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (max-width: 39.9375em) {
  .hide-for-mob-desk {
    display: none;
  }
}
@media (min-width: 64em) {
  .hide-for-mob-desk {
    display: none;
  }
}

@media (min-width: 40em) {
  .hide-for-desktop {
    display: none;
  }
}

.hide {
  display: none;
}

.active {
  opacity: 1;
}

.burger > span:first-child {
  transform: rotate(45deg);
}
.burger > span:nth-child(2) {
  opacity: 0;
}
.burger > span:last-child {
  transform: rotate(-45deg);
}

.mer {
  gap: 1.25rem;
}

.ball {
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
}

.noscroll {
  overflow: hidden;
}

.container {
  width: 71.25rem;
  margin: 0 auto;
}
@media (max-width: 87.4375em) {
  .container {
    width: 100%;
  }
}

h1 {
  font-family: "Antonio", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  margin-bottom: 1rem;
}
@media (min-width: 64em) {
  h1 {
    font-size: 5rem;
    letter-spacing: 1px;
  }
}
@media (max-width: 63.9375em) {
  h1 {
    font-size: 3rem;
  }
}
@media (max-width: 39.9375em) {
  h1 {
    font-size: 2.5rem;
  }
}

.content {
  font-size: 0.775rem;
  line-height: 1.25rem;
  font-weight: normal;
  opacity: 0.95;
  margin-bottom: 1.75rem;
}
@media (min-width: 40em) {
  .content {
    font-size: 0.6875rem;
  }
}
@media (min-width: 64em) {
  .content {
    font-size: 0.875rem;
    line-height: 179%;
    max-width: 21.875rem;
  }
}

.src {
  font-size: 0.75rem;
  opacity: 0.5;
  margin-bottom: 1.5rem;
}
.src a {
  color: #fff;
  opacity: 0.75;
  font-weight: bold;
  text-decoration: underline;
}
.src a img {
  margin-left: 5px;
}

.text-el {
  opacity: 0.5;
  font-size: 0.6rem;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
}

.num-el {
  font-size: 1.25rem;
  font-family: "Antonio", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

.line {
  width: 100%;
  position: relative;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.45);
}
.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 0.1875rem;
  width: 30%;
  transition: all 0.3s ease-in-out;
  left: var(--left, 0%);
  transform: var(--trans, translateX(0%));
  right: 0;
  bottom: 1px;
  opacity: 1;
  background-color: var(--back, red);
}

header nav {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.45);
  height: 12vh;
  padding-inline: 2rem;
}
@media (min-width: 64em) {
  header nav {
    width: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 63.9375em) {
  header nav {
    width: 100%;
    flex-direction: column;
  }
}
@media (max-width: 39.9375em) {
  header nav {
    padding-inline: 1.25rem;
    flex-direction: row;
    justify-content: space-between;
  }
}
header nav .logo {
  font-family: "Antonio", sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  display: inline-block;
}
@media (min-width: 40em) {
  header nav .logo {
    font-size: 1.7rem;
  }
}
@media (max-width: 39.9375em) {
  header nav .logo {
    font-size: 1.4rem;
  }
}
header nav .header_menu > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #fff;
  transition: all 300ms ease-in-out;
  transform-origin: 3px 1px;
}
header nav .header_menu > span:not(:last-child) {
  margin-bottom: 5px;
}
header nav .nav-links {
  gap: 1.5rem;
}
header nav .nav-links a {
  position: relative;
  font-size: 0.6875rem;
  color: #fff;
  opacity: 0.75;
  text-transform: uppercase;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
}
header nav .nav-links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 0.1875rem;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -10px;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
header nav .nav-links a:hover {
  opacity: 1;
}
header nav .nav-links a:hover::before {
  opacity: 1;
}
header nav .nav-links .mercury:hover::before {
  background-color: #419ebb;
}
header nav .nav-links .venus:hover::before {
  background-color: #eda249;
}
header nav .nav-links .earth:hover::before {
  background-color: #6d2ed5;
}
header nav .nav-links .mars:hover::before {
  background-color: #d14c32;
}
header nav .nav-links .jupiter:hover::before {
  background-color: #d83a34;
}
header nav .nav-links .saturn:hover::before {
  background-color: #cd5120;
}
header nav .nav-links .uranus:hover::before {
  background-color: #1ec1a2;
}
header nav .nav-links .neptune:hover::before {
  background-color: #2d68f0;
}
header .mobile-menu {
  padding-inline: 1.25rem;
  transition: all 300ms ease-in-out;
  margin-top: 1.5rem;
  z-index: 100;
  height: 100vh;
}
header .mobile-menu .mob-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  padding: 1.25rem 0;
  cursor: pointer;
}
header .mobile-menu .mob-nav .mer .name {
  font-size: 0.9375rem;
  text-transform: uppercase;
  color: #fff;
  font-family: "Spartan", sans-serif;
  font-weight: bold;
  letter-spacing: 0.0852275rem;
}
header .mobile-menu .mob-nav .mer .merc-ball {
  background-color: #419ebb;
}
header .mobile-menu .mob-nav .mer .ven-ball {
  background-color: #eda249;
}
header .mobile-menu .mob-nav .mer .ear-ball {
  background-color: #6d2ed5;
}
header .mobile-menu .mob-nav .mer .mar-ball {
  background-color: #d14c32;
}
header .mobile-menu .mob-nav .mer .jup-ball {
  background-color: #d83a34;
}
header .mobile-menu .mob-nav .mer .sat-ball {
  background-color: #cd5120;
}
header .mobile-menu .mob-nav .mer .ura-ball {
  background-color: #1ec1a2;
}
header .mobile-menu .mob-nav .mer .nep-ball {
  background-color: #2d68f0;
}

.mobile-view {
  width: 100%;
  margin-bottom: 4rem;
  transition: all 0.3s ease-in-out;
}
.mobile-view .mobile-sections {
  padding-inline: 1.25rem;
  margin: 2rem 0 1rem;
  transition: all 0.3s ease-in-out;
}
.mobile-view .mobile-sections .mob-sec {
  position: relative;
  font-size: 0.5625rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  text-align: center;
  color: #fff;
  opacity: 0.65;
  letter-spacing: 0.120535625rem;
  font-family: "Spartan", sans-serif;
  font-weight: bold;
}
.mobile-view .main-details {
  margin: 4rem auto;
}
.mobile-view .main-details .image {
  width: 45%;
  transition: all 0.3s ease-in-out;
}
.mobile-view .main-details .image img {
  width: 100%;
  max-width: 100%;
}
.mobile-view .main-details .images {
  position: relative;
  margin-bottom: 2rem;
  transition: all 0.3s ease-in-out;
}
.mobile-view .main-details .images .small {
  width: 50%;
  position: absolute;
  left: 28%;
  top: 80%;
}
.mobile-view .texts {
  text-align: center;
  transition: all 0.3s ease-in-out;
  padding-inline: 1.25rem;
  transition: all 0.3s ease-in-out;
}
.mobile-view .boxes {
  padding: 0 1.25rem;
  margin-bottom: 4rem;
  gap: 0.5rem;
  transition: all 0.3s ease-in-out;
}
.mobile-view .boxes .box {
  padding: 1rem 2rem;
  border: 1px solid rgba(255, 255, 255, 0.3137254902);
}

.desktop-view {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
  padding-inline: 2rem;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.desktop-view .desktop-main {
  margin-bottom: 5.5rem;
}
.desktop-view .desktop-main .desktop-images {
  width: 65%;
}
.desktop-view .desktop-main .desktop-images .image {
  width: 60%;
}
.desktop-view .desktop-main .desktop-images .image img {
  max-width: 100%;
  width: 100%;
}
.desktop-view .desktop-main .desktop-images .images {
  position: relative;
  transition: all 0.3s ease-in-out;
  margin-bottom: 2rem;
}
.desktop-view .desktop-main .desktop-images .images .small {
  width: 30%;
  position: absolute;
  left: 36%;
  top: 70%;
}
@media (max-width: 63.9375em) {
  .desktop-view .desktop-main .desktop-texts {
    margin-top: 3rem;
  }
}
@media (max-width: 63.9375em) {
  .desktop-view .desktop-main .desktop-texts .desktop-text-el, .desktop-view .desktop-main .desktop-texts .desktop-tabs {
    width: 45%;
  }
}
.desktop-view .desktop-main .desktop-texts .desktop-tabs {
  gap: 0.75rem;
  transition: all 0.3s ease-in-out;
}
.desktop-view .desktop-main .desktop-texts .desktop-tabs .tab-1 {
  transition: all 0.3s ease-in-out;
  gap: 0.75rem;
  padding: 1rem 2rem;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3137254902);
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  cursor: pointer;
}
@media (min-width: 64em) {
  .desktop-view .desktop-main .desktop-texts .desktop-tabs .tab-1 {
    width: 90%;
  }
}
.desktop-view .desktop-main .desktop-texts .desktop-tabs .tab-1 span {
  color: rgba(255, 255, 255, 0.3137254902);
}
.desktop-view .desktop-main .desktop-texts .desktop-tabs .tab-1:hover {
  background-color: #38384f;
}
.desktop-view .parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1.25rem;
  grid-row-gap: 0px;
}
.desktop-view .div1 {
  grid-area: 1/1/2/2;
}
.desktop-view .div2 {
  grid-area: 1/2/2/3;
}
.desktop-view .div3 {
  grid-area: 1/3/2/4;
}
.desktop-view .div4 {
  grid-area: 1/4/2/5;
}
.desktop-view .border {
  border: 1px solid rgba(255, 255, 255, 0.3137254902);
  padding: 1.5rem;
  gap: 1rem;
}/*# sourceMappingURL=style.css.map */